<h1>ContactPage</h1>
<a href="https://schema.org/ContactPage" target="_blank">https://schema.org/ContactPage</a>
<div>
    <form #businessForm="ngForm"  (ngSubmit)="updateProfile()">    
      
        <h2 class="my-3">Basic Info</h2>
        <p>This is the minimum information needed to pass schema.org Validation, remember! Google's dosn't work with this SCHEMA.</p>
        <hr class="my-5">    
        <div *ngFor="let bus of business; let i=index">
          <div class="my-3">
            <label class="form-label" for="name-{{ i }}">Name:</label>
            <input class="form-control" id="name-{{ i }}" type="text" name="name_{{i}}" [(ngModel)]="bus.name" required>
            
            <label class="form-label" for="url-{{ i }}">Image URL:</label>
            <input class="form-control" id="url-{{ i }}" type="text" name="url_{{i}}" [(ngModel)]="bus.image" required>
          </div>
        </div>
          <div *ngFor="let main of mainEntity; let m=index">
            <label class="form-label" for="id-{{ m }}">@id (Usually the SCHEMA URL)</label>
            <input class="form-control" id="id-{{ m }}" type="text" name="id_{{m}}" [(ngModel)]='main["@id"]' required>

            <label class="form-label" for="headline-{{ m }}"> Headline: (Like the title of the page)</label>
            <input  class="form-control" id="headline-{{ m }}" type="text" name="headline_{{m}}" [(ngModel)]="main.headline"  required>

            <label class="form-label" for="description-{{ m }}"> Description: (Like the content of the page)</label>
            <input  class="form-control" id="description-{{ m }}" type="text" name="description_{{m}}" [(ngModel)]="main.description"  required>
          </div>
          <div *ngFor="let pub of publisher; let m=index">
            <label class="form-label" for="id-{{ m }}">Name: (Organization or Business name)</label>
            <input class="form-control" id="id-{{ m }}" type="text" name="id_{{m}}" [(ngModel)]="pub.name" required>

            <label class="form-label" for="headline-{{ m }}"> URL (organization Main URL)</label>
            <input  class="form-control" id="headline-{{ m }}" type="text" name="headline_{{m}}" [(ngModel)]="pub.url"  required>
          </div>


      <div class="btn-group mt-5" role="group" aria-label="Basic example">
      <button class="btn btn-primary mb-2" type="button" (click)="updateProfile()">Generate SCHEMA</button>
      <button class="btn btn-success mb-2" type="button" (click)="copySCHEMA()">Copy SCHEMA</button>
      <button class="btn btn-success mb-2" type="button" (click)="copySCHEMATAG()">Copy SCHEMA & TAGS</button>
      </div>
      <pre class="mt-3">{{ jsonSchema | json }}</pre>
    </form>
  </div>

