<div class="bg-light rounded-3">
    <div class="mt-5">
        <h1 class="display-6 fw-bold">Tools for work</h1>
        <p class="col-md-8 fs-5">This is just a site to share my own tools. </p>
    </div>
    <hr class="mt-5">
    <div class="mt-5">
        <h2>Log</h2>
        <p class="col-md-8 fs-6">10-28-2022</p>
        <div class="row">
            <div class="col-4">
                <p class="mt-3 fw-bold">SCHEMA | json-ld</p>
                <ul>
                    <li>ContactPage</li>
                    <li>FAQPage</li>
                    <li>ItemList</li>
                    <li>LocalBusiness</li>
                </ul>
            </div>
            <div class="col-4">
                <p class="mt-3 fw-bold">Scraping</p>
                <ul>
                    <li>One web HTML code</li>
                    <li>SCHEMAS json-ld with @Graph</li>
                </ul>
            </div>
            </div>
        </div>
    <hr class="mt-5">
    <div class="mt-5">
        <h1 class="display-6 fw-bold">Contact</h1>
        <p class="col-md-8 fs-4">If you have any questions or suggestions, please contact me.</p>
        <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/OsvaldoGDelRio/my-tools" type="link">Go to the Repo</a>
    </div>
</div>


